In [1]:
import pandas as pd
import numpy as np
import os

data = pd.read_csv("penguins_size.csv")
df = pd.DataFrame(data)

df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [3]:
df_penguins = df.copy()

df_penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [4]:
# Prepare train and test data.

from sklearn.model_selection import StratifiedShuffleSplit

penguin_label = df_penguins['species']
penguin_predictor = df_penguins.drop(columns = ['species'])

StratShuffSplit = StratifiedShuffleSplit(n_splits=1, test_size = 0.25, random_state = 42)

for train_index, test_index in StratShuffSplit.split(penguin_predictor, penguin_label):
    print('train indices: ', train_index, ' \n\n test indices: ', test_index)
    train_set = df_penguins.loc[train_index]
    test_set = df_penguins.loc[test_index]

train indices:  [291 144 212  45  78 343 267  42  53 176 148 234 297 100  19  97  36 208
  13 200 117   2  86 231 114 150 331  89 260 101  18 162 125 113 273 109
 134 327  26 118   3  84 247 254 195   6 237  80 241  73 323  85 265 206
 197  32 328   5  27  98  81  96  47 250 282 311 165  62 307 286 240 128
 172 314 147 227 342 339 156 155 185 225  35 271 248  83  15 198  22 318
 104 308 283 218 177 141  38 264 152 304 310 163 105 112 336 249 211 270
 159 335  33 252 226  31  39 232  64 259  28   9 207 209 190 295  77  16
 169 186 124  51  68 219 175 213 266  56  40 220  34 223 279 126 268 215
  17 269 313 244 253  76 111 233 110  70 242 132 324 123 135  72 334 131
 284   8 325  69 143 315 340 285 258 203 189  44 298  95 228 319  25 136
   7 170 216 161 191  12  94 115 303  11  24 168  93 108 214 178 122 302
 138 229  55 341   4 192 293 300 290 188 184 217 277 154  49 224  29  63
 261 262 133 322   0  66 332  60  30 182  23 171 330 181 280 281 167 329
 296 276 145 245 301  43  67 127 256 205 137 139 199 140 321 201 306 246
  65  10 333  75  82 160]

 test indices:  [236 230 151 173 174 121  71  52 299  48  14  74 129 187 196 292 222 305
 312  37 164  50 103 326 255 316 158 289 183 272 120  20 119 263 274 166
 142  54 149 146 221  92 278 235 107  99 257 317 204  58 202  61 102  21
 179  59 238 338 210  57  91 153  87 275 106  46  90 243 239 193 294 157
 320 251   1 194 309 130  41 337  88 180 287 116 288  79]

In [ ]:
import matplotlib.pyplot as plt